<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./../partials/header'); %>
  <link rel="stylesheet" href="/css/add-product.css">
</head>
<body>
  <%- include('./../partials/navbar'); %>
  <div class="shop-add-product_container">
    <h3 class="shop-add-product_header">Add new product</h3>
    <hr><br>
    <form action="/admin/products" method="POST">
      <div class="shop-add-product_form-control">
        <input type="text" id="name" name="name" required>
        <label for="name">Product Name:</label>
      </div>
      <div class="shop-add-product_form-control">
        <input type="text" id="price" name="price" required>
        <label for="price">Price:</label>
      </div>
      <div class="shop-add-product_form-control">
        <input type="text" id="image_url" name="image_url">
        <label for="image_url">Product Image URL:</label>
      </div>
      <div class="shop-add-product_form-control">
        <textarea rows="3" id="description" name="description">
        </textarea>
        <label for="description">Description</label>
      </div>
      <div class="shop-add-product_form-control-btns">
        <a class="btn-link btn-link-primary" href="javascript:history.back()">Cancel</a>
        <button class="btn btn-primary" type="submit">Add Product</button>
      </div>
    </form> 
  </div>
</body>
</html>