<nav>
  <ul>
    <li>
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <li>
      <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">
        All Products
      </a>
    </li>
    <li style="float: right">
      <a class="<%= path === '/add-product' ? 'active' : '' %>" href="/add-product">
        Add New Product
      </a>
    </li>
  </ul>
</nav>
