<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header') %>
  <link rel="stylesheet" href="css/404.css">
</head>
<body>
  <%- include('./partials/navbar'); %>
  <div class="shop-404_container">
    <h1 class="shop-404_header">Oops! Hit 404... </h1>
    <p class="shop-404_text">We could not find what you are looking for.</p>
    <a href="/" class="shop-404_link">Take me home!</a>
  </div>
</body>
</html>