<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header') %>
  <link rel="stylesheet" href="css/404.css">
</head>
<body>
  <%- include('./partials/navbar'); %>
  <div class="container">
    <h1>Oops! Hit 404... </h1>
    <p>We could not find what you are looking for.</p>
    <a href="/" style="text-decoration: underline;">Take me home!</a>
  </div>
</body>
</html>