<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header'); %>
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <%- include('./partials/navbar'); %>
  <div class="shop-home_container">
    <h1>Welcome to Shop Mart</h1>
    <p>This is my first app with <span style="color: mediumorchid;">'Express'</span></p>
    <p>Click <a href="/products">here</a> for all products</p>
  </div>
</body>
</html>