.shop-404_container {
  text-align: center;
  animation: page-load ease-out 0.25s forwards;
}

.shop-404_header {
  color: royalblue;
}

.shop-404_text {
  color: #666;
}

.shop-404_link {
  font-size: 1.2rem;
  color: mediumorchid;
}