.shop-home_container {
  text-align: center;
  color: #333;
  margin-top: 2rem;
  animation: page-load ease-out 0.25s forwards;
}

.shop-home_container a {
  color: white;
  background-color: royalblue;
  display: inline-block;
  text-decoration: none;
  padding: 4px 0.75rem;
  border-radius: 5px;
}

@keyframes list-in {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}